body{
	margin: auto;
	padding-top: 30px;
}
.navbar-default{
	margin: auto;
	margin-bottom: 10px;
	text-align: center;
	max-width: 1140px;
}
.navbar .navbar-nav{
	display: inline-block;
	float: none;
}
.navbar .nav a{
	font-weight: bold;
}
.nav>li>a{
	padding: 14px;
}
.dropdown:hover .dropdown-menu{
	display: block;
}
.navbar-collapse.in {
 /* text-align: initial;*/
}

/* Makes images fully responsive */

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	display: block;
	width: 100%;
	height: auto;
}

/* ------------------- Carousel Styling ------------------- */

.carousel-inner {
	border-radius: 15px;
}
.carousel-caption {
	background-color: rgba(0,0,0,.5);
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
	padding: 0 0 10px 25px;
	color: #fff;
	text-align: left;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
}
.carousel-indicators {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	z-index: 15;
	margin: 0;
	padding: 0 25px 25px 0;
	text-align: right;
}
.carousel-control.left,
.carousel-control.right {
	background-image: none;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
}

/* ------------------- Section Styling - Not needed for carousel styling ------------------- */

.section-white {
	padding: 10px 0;
}
.section-white {
	background-color: #fff;
	color: #555;
}
@media screen and (min-width: 768px) {
  .section-white {
	padding: 1.5em 0;
  }
}
@media (min-width: 769px) and (max-width: 992px) {

}
.caption {
	position: relative;
	margin-bottom: 2%;
}
.caption h3 {
    margin: 0;
    color: #fff;
    position: absolute;
    bottom: 0;
    max-width: 100%;
    left: 0;
    right: 0;
    padding: 10px;
    background: rgba(0,0,0,.5);
    font-size: 15px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}
/* dropdown login */
.containerlog{
	padding: 20px;
	background-color: #fff;
	border-radius: 6px;
	text-align: center;
}
.dropdown-menu{
	float: right;
}

/*-------------social icons--------------------------*/

@import: "font-awesome";
* {
  box-sizing: border-box;
}
*:focus, *:active, *:focus:active {
  outline: none;
}

.column {
  float: left;
  padding: 0 15px;
  width: 50%;
}
.set {
  margin: 20px;
}
a.social {
  display: inline-block;
  height: 32px;
  line-height: 32px;
  border-radius: 6px;
  margin-right: 10px;
  overflow: hidden;
  position: relative;
  text-indent: -9999em;
  visibility: hidden;
  width: 32px;
}
a.social:before, a.social:after {
  color: #fff;
  content: "";
  display: inline-block;
  font-family: FontAwesome;
  font-size: 23px;
  height: 32px;
  line-height: 34px;
  position: absolute;
  right: 0;
  text-align: center;
  text-indent: 0;
  visibility: visible;
  width: 32px;
}
a.social:after {
  left: 0;
  position: absolute;
}
a.facebook:before {
  background: #3b5998;
}
a.facebook:after {
  content: "\f09a";
  top: -1px;
}
a.twitter:before {
  background: #00aced;
}
a.twitter:after {
  content: "\f099";
  left: 0;
  top: 0;
}
a.google-plus:before {
  background: #ff4b39;
}
a.google-plus:after {
  content: "\f0d5";
  left: 2px;
  top: -1px;
}
a.pinterest:before {
  background: #cc2127;
}
a.pinterest:after {
  content: "\f0d2";
  font-size: 34px;
  left: -1px;
  top: -1px;
}
a.instagram:before {
  background: #784cac;
}
a.instagram:after {
  content: "\f16d";
  top: -1px;
}
a.linked-in:before {
  background: #007bb6;
}
a.linked-in:after {
  content: "\f0e1";
  top: -1px;
}
a.youtube:before {
  background: #cc181e;
}
a.youtube:after {
  content: "\f166";
  top: -1px;
}

.squared a.social:before {
  border-radius: 6px;
}
.icon-inflate a {
  transform: scale(1);
  transition: all .3s ease-in;
}
.icon-inflate a:hover {
  transform: scale(1.3);
}
/***********************News & Reportage Details************************/
.detailsTitle{
  color:#11639b;
  font-size: 60px;
  font-weight: bold;

  position: absolute;

  padding-top: auto;
  display: inline;
}
.detailsTitleevents{
  color:#11639b;
  font-size: 48px;
  font-weight: bold;

  position: absolute;

  padding-top: auto;
  margin-top: 30px;
  margin-left: 30px;
  display: inline;
}
@media screen and (max-width: 600px) {
  .detailsTitle{font-size: 32px;}
}
@media screen and (max-width: 400px) {
  .detailsTitle{font-size: 24px;}
}
.detailsdate{
  color: #11639b;
  border-top: 2px solid #11639b;

  padding-top: 10px;
}
.detailsdate2{
  color: #11639b;
}
.detailsText{
  clear: both;
  display: block;

  font-weight: bolder;
  font-size: 16px;

  padding-top: 50px;
  border-top: 2px solid #11639b;
}
.btn-default1{
  background-color:#e0e0e0;
  border-color: #ccc;
  color:black;
}
.btn-default1:hover{
  background-color:#ccc;
}

/****************Page contact****************/
#map{
    width: 300px;
    height: 300px;
}

#mapStatic{
    width: 300px;
    height: 300px;
}

.avatar{
  float: left;
  position: relative;

  width: 150px;
  height:175px;
  
  margin-right: 10px;
  margin-bottom: 30px;

  border: 2px solid #11639b;
}

/**************Page sponsors****************/

#sponsorLogos img{
  max-width: 150px;
  min-width: 80px;
  margin: auto;
}
.sponsors{
  margin-top: 25px;
}
.sponsorLogo{
  margin-top: 25px;
}
.sponsorsBreack{
  margin-top: 25px;
}
/**************Page confirmation****************/

#attention {
  text-align: center;
}

/***************Scroll to top button***********/

#top-btn {
  width: 50px;
  height: 50px;
  bottom: -50px;
  right: 20px;
  position: fixed;
  text-align: center;
  border-radius: 100px;
  background-color: #3DCC8E;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.12), 3px 4px 8px 0px rgba(0, 0, 0, 0.11);
  -webkit-transition: all .8s;
  transition: all .8s;
}

#top-btn:hover {
  background-color: #1aa469;
}

#top-btn:hover i {
  padding-top: 5px;
}

#top-btn i {
  padding-top: 15px;
  font-size: 20px;
  line-height: 50px;
  color: #FFFFFF;
  -webkit-transition: all .8s;
  transition: all .8s;
}